/node_modules

/public/hot
/public/css
/public/js
/public/storage

/application/admin/storage/*.key
/application/admin/vendor

/.idea
/.vscode
/.vagrant

/application/admin/Homestead.json
/application/admin/Homestead.yaml
/application/admin/npm-debug.log
/application/admin/yarn-error.log
/application/admin/.env

/nbproject
